body{
    padding: 0;
    margin: 0;
     background-color: #242331;;
    font-family: 'Open Sans', sans-serif;
}

.logo{
  margin:7px 6px;
  width: 70px;
  height: 70px;
  /* border-radius: 10px; */
}
.logo img{
    width: 100%;
    height:100%;

}
.header{
  display: flex;
  align-items: center;
  background-color: #ffffff1c;
  margin:auto;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  top:0;
  position: fixed;
  z-index: 1000;
  width: 100%;
  backdrop-filter: blur(20px);


}
.nav ul{
    display: flex;
    margin-right:110px;
    /* padding-top: 20px; */
   
}
.nav ul li a{
    color: lightcyan;
    text-decoration: none;
}

.nav ul li a.activeli {
  color:#8200ff;
}
.nav ul li
{
  list-style: none;
  margin:0 10px;
  width:100px;  
  display: flex;
  justify-content: center; 
  padding: 5px 0px;
  box-shadow: 0px 5px 10px 0px rgb(45 45 45);
  backdrop-filter: blur(1px);
  border-radius: 3px;
}


#games{
  background-color: #8200ff;
}

#home a{
  color: white;
}
.nav ul li:hover{
  outline: auto;
}


.BuyButton{
    background-color: green;
    color:black;
    width: 68px;
    height: 35px;
    border-radius: 27px;
    text-align: center;
    margin-right:10px;
   
}
  .nav li a:hover{
    color:antiquewhite;
 }
.container{
  /* margin:0  10px; */
  background-color: #242331;
  overflow-y: auto;
  overflow-x: hidden;
}

#menuBar{
    display: none; 
}

  .header label{
    color: white;
    font-family: ui-monospace;
    font-size: 28px;
    cursor: pointer;
    margin-right: 5%;
    border-radius: 5px;
    height: 30px;
    width: 35px;
    text-align: center;
    position: relative;
    font-weight: bold;
    display: none;
}
 

/* header label:hover{
    color: rgb(60, 162, 128);
    background-color: whitesmoke;
} */

.img-section{
  margin-top:30px;
     }

    .img-section img{
      width: 100%;
      height: 55vh;
      margin: auto;
      display: block;
    
    }
    
  .img{
    position: relative;
  }
   .img-text{
    text-align: left;
    color: aliceblue;
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0;
   }
   
    .content{
        display:flex;
        width: 95vw;
        margin:20px  auto;
        justify-content: space-evenly;
    }

    .left{
        width: 40%;
        height: auto;
    }
    .right{
        width: 30vw;
        height: auto;
        margin-top: 100px;
    }

    .detail{
        color: aliceblue;
        text-align: justify;
    }

    .content-heading{
        color: white;
        font-size:25px;
    }

    .download-button{
      background-color: #8200ff;
      width: 100%;
      height: 45px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      color: white;
      font-size: large;
    }

    .download-button:hover{
        background-color:rgb(36, 189, 36);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    /* .text-align{
       text-align: center;
    } */

    .button{
        margin:40px 50px;
        margin-top: 0;
    }

    .relese-date{
        margin:40px 50px;
        color: aliceblue;
    }

    .publisher{
        margin:40px 50px;
        color: aliceblue;
    }

    .size{

        margin:40px 50px;
        color: aliceblue;

    }


    .right-name{
        font-size:25px;
        color:rgb(165, 209, 227) ;
    }


    

@media(max-width:805px){
    .header label{
        display: initial;
    }

    /* .NavLink{
        float: none;
        padding: 20px;
    } */

    .nav ul li a{
        color: aliceblue;
        text-decoration: none;
        padding-left: 10px;
    }

    .nav ul li{
      padding: 6px 27px;
      margin: 17px 0;
    }
    .nav{
        border: 1px solid black;
        background-color: rgb(11, 8, 21);
        border-radius: 10px;
        width: 200px;
        height: auto;
        display: none;
        position:absolute;
        right:0;
        top:97%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        /* text-align:justify; */
        animation-name: nav;
        animation-duration: .1s;
        animation-direction: alternate;
        animation-fill-mode:both;
        opacity:.8;
       }

       .nav ul{
        display:contents;
       }
       
        #menuBar:checked ~.nav{
        display: initial;
       }

       #menuBar:checked ~label{
        background-color: whitesmoke;
        color: rgb(60, 162, 128);
       } 

       @keyframes nav {
        from {width:0;}
        to {width:200px;}

       }


} 

@media(max-width:805px) {
    .content{
       display: block;
    }

    .left{
      margin: 45px auto;
      width: auto;
      padding: 15px;
       
    }
    .right{
        margin:25px;
        width: auto;
        
    }

    .img-section img{
        height:auto;
        margin: auto;
    }
    
  }

  @media(max-width:1150px) {
    .content{
      font-size: 12px;
    }
  }


  .footer{
    overflow: auto;
    margin:1px 10px;
     background-color: #242331;;
  }
  
  .footer-container{
   margin:25px 10px;
    padding:70px 40px;
    background-color: rgb(23, 16, 33);
    border: 1.5px solid rgb(157, 44, 44);
   }
  
  .upper{
     display: flex;
     margin: auto;
     align-items: center;
     justify-content: space-between;
     
  }
  
  .about-company{
     width: 50%;
     margin-right: 15px;
     color: aliceblue;
     text-align: justify;
  }
  .footer-heading{
    margin-bottom: 70px;
    font-weight: 400;
    text-shadow: 3px;
    font-size: 25px; 
    color: white;
    padding: 10px;
    text-align: left;
  
 }
  
  .form{
  width:400px;
  height: 150px;
  background-color: rgba(80, 78, 128, 0.386);
  border-radius: 10px;
  position: relative;
  }
  
  .input-section{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 310px;
  border: 2px solid white;
  padding:23px;
  border-radius:10px;
  
  }
  
  .input-section input{
    text-align: center;
  }
  
  .input-field{
  height: 30px;
  width:218px;
  border: 1.5px solid wheat;
  border-radius: 10px;
  background-color: rgb(232, 234, 236);
  
  }
  
  .input-button{
  height: 35px;
  background-color: rgb(31, 167, 104);
  color: aliceblue;
  border-radius: 5px;
  padding: 5px;
  }
  
  .contact{
  display: flex;
  margin:100px auto;
  justify-content: space-between;
  color: azure;
  }
  
  .contact-heading{
  font-size: 27px;
  font-weight:400 ;
  margin-bottom: 10px;
  }
  
  .sub{
  margin-top: 5px;
  }
  



  @media (max-width:1100px) {
    .footer-container{
    margin:20px 0;
    }
    .form{
    width:330px;
    height: 120px; 
    }
    
    .input-section{
    width: 250px;
    padding:17px;
    }
    
    .input-field{
    width: 138px;
    height: 20px;
    }
    
    
     }
    
     @media (max-width:780px){
    
      .footer-container{
        padding: 70px 25px;
      }
       .upper{
           display: block;
       }
    
       .about-company{
           width: 100%;
           margin: auto;
           margin-bottom: 30px;
       }
    
       .form{
           margin: auto;
           margin-top: 80px;
           width: 270px;
       }
    
       .input-section{
           width: 216px;
       }
    
       .input-button{
           height: 22px;
           padding: 2px;
           width: auto;
       }
    
       .contact{
           display: block;
       }
    
       .contact-heading{
           margin:50px 30px auto auto;
       }
    
       .sub{
           margin: 30px auto;
       }
    
       .about-company h3{
           text-align: center;
           margin:10px 0;
       }
    
       .social-media-list li{
           margin: 10px 5px;
       }
    
    
    
    
      }
       
    p{
      margin: 0;
      padding: 0;
    
    }
    
    
    .footer-bg{
      position: relative;
      width: 100%;
      background-image: linear-gradient(#464646, #5A6B78);
      
    }
    .footer-content-1up{
      color: white; font-size: 40px; padding: 10px; font-weight: 500;
    }
    .footer-content-1u{
    display: flex;
    padding-top: 10%;
    }
    .footer-content-l{
      width: 60%;
      padding: 10px;
    }
    
    .footer-content-2{
      width: 40%;
      padding: 10px;
    }
    
    .footer-1{
      
      height: 80%;
      background-color: #2E3942;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      width: 100%;
      box-shadow: -1px 7px 20px 0px rgb(20 20 20);
    
    }
    .footer-content{
    width: 59%;
    }
    .footer-form{
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .footer-form-in{
      border-radius: 10px;
      position: relative;
      background-image: linear-gradient( #565C62, #47566a);
      box-shadow:  0px 0px 20px 2px rgb(22 22 22);;
     
    }
    .footer-1a{
      padding: 2%;
      padding-top: 50px;
      padding-bottom: 50px;
       display: flex;
    }
    
    .footer-bottom{
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      position: relative;
      bottom: 0;
      height: 30px;
      background-color: #3E4C57;
      width: 40%;
      left: 50%;
      transform: translate(-50%);
      box-shadow: 1px -3px 20px 0px rgb(22 22 22);
      display: flex;
      }
    
    @media (max-width: 820px){
      .footer-form{
          width: 100%;
          justify-content: center;
      }
      .footer-content-1up{
        font-size: 20px;
      }
      .footer-form-in{
          border-radius: 10px;
          position: absolute;
          background-image: linear-gradient( #565C62, #47566a);
          margin: 15px;
      }
      .footer-1a{
          display: block;
      }
      .footer-form-in{
          position: relative;
      }
      .footer-content{
          width: 100%;
      }
      .footer-bottom{
        width: 80%;
      }
      .footer-bottom{
        width: 60%;
    }
    }
    
    @media (max-width: 520px){
    
      .logo{
        margin:7px 6px;
        width: 50px;
        height: 50px;
      }
    
    .slideshow-container{
      position:relative;
      top: 0;
      margin:5px 5px;
      margin-top: 80px;
    }
      .footer-content-1u{
    display: block;
      }
      .footer-bottom{
        width: 80%;
    }
    .footer-heading{
      margin-bottom: 30px;
      font-weight: 400;
      text-shadow: 3px;
      font-size: 18px; 
      color: white;
      padding: 10px;
      text-align: left;
    }
    }
    
    
    @media (max-width: 400px){
    
      .footer-form-in{
        width: 90%;
        position: relative;
      }
      .textfield {
        background-color: #2c373f04;
        padding: 50px, 10px;
        color: white;
        border: solid;
        border-width: 1px;
        border-color: #2c373f;
        border-radius: 5px;
        padding: 15px;
        font-size: 150%;
        width: 90%;
    }
    }
    
    
    
    .textfield{
      background-color: #2c373f04;
      padding: 50px, 10px;
      color: white;
      border: solid;
      border-width: 1px;
      border-color: #2c373f;
      border-radius: 5px;
      padding: 15px;
      font-size: 150%;
    
    
    }
    
    .textfield::placeholder{
      color: #aeaeae;
    }
    
    .social-menu{
      padding: 80px;
      position: relative;
      height: 10%;
      width:  auto;
       
    }
    .social-menu ul {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0;
      margin: 0;
      display: flex;
    }
    .social-menu ul li {
      list-style: none;
      margin: 0 10px;
    }
    .social-menu ul li .fa {
      color: #7d00eb;
      font-size: 25px;
      line-height: 50px;
      width: 50px;
      transition: .5s;
    }
    .social-menu ul li .fa:hover {
      color: #ffffff;
    }
    .social-menu ul li a {
      position: relative;
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: white;
      text-align: center;
      transition: 0.3s;
      transform: translate(0,0px);
      box-shadow: -1px 7px 20px 0px rgb(20 20 20);
    }
    .social-menu ul li a:hover {
      transform: rotate(0deg) skew(0deg) translate(0, -10px);
    }
    .social-menu ul li:nth-child(1) a:hover {
      background-color: #3b5999;
    }
    .social-menu ul li:nth-child(2) a:hover {
      background-color: #fb00ff;
    }
    
    .social-menu ul li:nth-child(3) a:hover {
      background-color: #0077B5;
    }
    
    .social-menu ul li:nth-child(4) a:hover {
      background-color: #cd201f;
    }
    
    .footer-privacy-policy{
      color: #8200ff; 
      right: 0; 
      padding-right: 30px; 
      position: absolute; 
      font-size: 15px;
      font-weight: 700;
    }
    
    .footer-year{
      padding-left: 30px; 
      color: white; 
      font-size: 15px;
    }
    
    
    

