*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}
body{
     background-color: #242331;;
    font-family: 'Open Sans', sans-serif;
}



.logo{
  margin:7px 6px;
  width: 70px;
  height: 70px;
  /* border-radius: 10px; */
}
.logo img{
    width: 100%;
    height:100%;

}
.header{
  display: flex;
  align-items: center;
  background-color: #1d1f25;
  margin:auto;
  border-radius: 7px;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  top:0;
  position: sticky;
  z-index: 1000;
  opacity:.9;
}
.nav ul{
    display: flex; 
    margin-right:110px;
    /* padding-top: 20px; */
   
}
.nav ul li a{
    color: lightcyan;
    text-decoration: none;
}
.nav ul li a.activeli {
  color:blueviolet;
}
.nav ul li
{
    list-style: none;
    margin:0 30px;
    width:auto; 

}

.BuyButton{
    background-color: green;
    color:black;
    width: 68px;
    height: 35px;
    border-radius: 27px;
    text-align: center;
    margin-right:10px;
   
}
  .nav li a:hover{
    color:antiquewhite;
 }

#menuBar{
    display: none; 
}

header label{
    font-size: 45px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    display: none;
    color: aliceblue;
    margin-right: 10px;
    border-radius: 11px;
    height: 65px;
    width: 60px;
    text-align: center;
 } 

/* header label:hover{
    color: rgb(60, 162, 128);
    background-color: whitesmoke;
} */

.img-section{
  width: calc(100vh-10px);
   margin: 5px 5px;

       }
       
        .img-section img{
          width:100%;
          height:auto;
          display: block;
        
        
        }
        
      .img{
        position: relative;
      }

      .filter{
        margin: 40px 0;
      }
      
       .filter-list{
        display: flex;
        margin: auto;
        justify-content: center;
       }
    
   .filter-list button{
        display: inline;
        color: aliceblue;
        list-style: none;
        margin:10px 10px;
        padding: 7px;
        border-radius: 5px;
        width: 85px;
        background-color: #050505;
        cursor: pointer;
      }

     
      
    .current{
        background-color: aliceblue;
        color: #050505;
    }  

    .game{
      margin-top: 10px;
      display: flex;
      flex-wrap:wrap;
      justify-content: center;
  } 

  .game-container{
    width: 314px;
    height: 440px;
    position: relative;
    border-radius: 10px;
    /* border: 2px solid rgb(155, 50, 50); */
    background-color: aliceblue;
    margin:20px;
  }
  .game-container1{
    width: 301px;
    height: 426px;
    position: absolute; 
    top: 7px;
    left: 7px; 
    border-radius: 10px;
    background-color:#3B3E4B;
  }

  .game-img{
    width: 301px;
    height:300px;
  }

  .game-img img{
    width: 100%;
    height: 80%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  .game-small{
    width:100px;
    height: 100px;
    position: absolute;
    top:200px;
    left: 30px;
    border:2px solid wheat;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.35) 15px 15px 15px;
    
  }

  .game-small img{
    width: 100%;
    height: 100%;
  }

  .title{
    color:white;
    font-size:25px;
    font-weight: bold;
    position: absolute;
    right: 8px;
    bottom: 151px;
    width: 170px;
    text-align: center;
  }

  .catagory{
    color: azure;
    font-size: 10px;
    position: absolute;
    right: 8px;
    width: 160px;
    text-align: center;
    top: 289px;
    margin: 0 5px;
  }

  .mini-discription{
    width: 297px;
    position: absolute;
    top:314px;
    color: azure;
    left: 15px;
    font-size: 14px;
    text-align: center;
  }
  .mini-discription p{
    display: inline;
  }
  .mini-discription li{
    display:contents;
    cursor: pointer;
  }
.mini-discription li a{
    list-style: none;
    color: rgb(79, 79, 176);
  }
  .view-button{
    background-color: blueviolet;
    width:160px;
    height:40px;
    position: absolute;
    bottom:20px;
    left: 80px;
    /* border: 2px solid white; */
    border-radius: 7px;
    border-style: none;
    cursor: pointer;
    font-size: 22px;
    color:white;
    font-weight:500;
  }

   
    .footer{
        overflow: auto;
        margin:1px 0;
         background-color: #242331;;
      }
      
      .footer-container{
       margin:25px 10px;
        padding:70px 40px;
        background-color: rgb(23, 16, 33);
        border: 1.5px solid rgb(157, 44, 44);
       }
      
      .upper{
         display: flex;
         margin: auto;
         align-items: center;
         justify-content: space-between;
         
      }
      
      .about-company{
         width: 50%;
         margin-right: 15px;
         color: aliceblue;
         text-align: justify;
      }
      .footer-heading{
         color: rgb(142, 131, 206);
         font-size:40px;
         text-align: center;
         margin-bottom: 70px;
         font-weight: 400;
         text-shadow: 3px;
      }
      
      .form{
      width:400px;
      height: 130px;
      background-color: rgba(80, 78, 128, 0.386);
      border-radius: 10px;
      position: relative;

      }
      
      .input-section{
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%,-50%);
      width: 310px;
      border: 2px solid white;
      padding:23px;
      border-radius:10px;
      text-align: center;      
      }
      
      .input-section input{
        text-align: center;
      }
      
      .input-field{
      height: 30px;
      width:196px;
      border: 1.5px solid wheat;
      border-radius: 10px;
      background-color: rgb(232, 234, 236);
      
      }
      
      .input-button{
      height: 35px;
      background-color: rgb(31, 167, 104);
      color: aliceblue;
      border-radius: 5px;
      padding: 5px;
      }
      
      .contact{
      display: flex;
      margin:100px auto;
      justify-content: space-between;
      color: azure;
      }
      
      .contact-heading{
      font-size: 27px;
      font-weight:400 ;
      margin-bottom: 10px;
      }
      
      .sub{
      margin-top: 5px;
      }
      
      .social-media-list {
         position: relative;
         font-size: 22px;
         text-align: center;
         width: 100%;
         margin: 0 auto;
         padding: 0;
       }
       
       .social-media-list li a {
         color: #fff;
       }
       form{
         border:1 white;
       }
       .social-media-list li {
         position: relative; 
         display: inline-block;
         height: 50px;
         width: 50px;
         margin: 10px 10px;
         line-height: 50px;
         border-radius: 50%;
         color: #fff;
         background-color: rgb(27,27,27);
         cursor: pointer; 
         transition: all .2s ease-in-out;
       }
      
       .fb{
         background-image: url("facebook.png");
         background-size: 90%;
       }
      
       .insta{
         background-image: url("instagram.png");
         background-size: 100%;
         background-position: center;
         
       }
       .linkedIn{
         background-image: url("linkedIn.png");
         background-size: 100%;   
         background-position: center;
          }
      
       .twitter{
         background-image: url("Twitter.png");
         background-size: 100%;
         background-position: center;
         background-repeat: no-repeat;
       }
       
       .social-media-list li::after {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 50px;
         height: 50px;
         line-height: 50px;
         border-radius: 50%;
         opacity: 0;
         box-shadow: 0 0 0 1px #fff;
         transition: all .2s ease-in-out;
       }
       
       .social-media-list li:hover {
         background-color: #fff; 
       }
       
       .social-media-list li:hover:after {
         opacity: 1;  
         transform: scale(1.12);
         transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
       }
       
       .social-media-list li:hover a {
         color: #000;
       }
       
       @media (max-width:1100px) {
      .footer-container{
      margin:20px 0;
      }
      .form{
      width:330px;
      height: 120px; 
      }
      
      .input-section{
      width: 250px;
      padding:17px;
      text-align: center;
      }
      .input-button{
        height: 28px;
      }
      .input-field{
      width: 138px;
      height: 20px;
      }
      
      
       }
      
       @media (max-width:780px){
        .game-container{
          width: 250px;
           height: 380px;
           vertical-align: top;
        }
        .game-container1{
          width:236px;
          height: 366px;
          position: absolute; 
          top: 7px;
          left: 7px;
        }
        .game-img{
          width: 236px;
          height:236px;
        }
        .view-button {
          background-color: blueviolet;
          width: 135px;
          height: 35px;
          position: absolute;
          bottom: 20px;
          left: 58px;
          /* border: 2px solid white; */
          border-radius: 7px;
          cursor: pointer;
          font-size: 22px;
          color: white;
          font-weight: 500;
        }
        .mini-discription {
          width: 244px;
          position: absolute;
          top: 254px;
          color: azure;
          left: 2px;
          font-size: 12px;
        }
        .catagory {
          color: azure;
          font-size: 9px;
          position: absolute;
          width: 138px;
          text-align: center;
          top: 226px;
          margin: 0 4px;;
          right: 5px;
        }
        
        .title {
          color: white;
          font-size: 20px;
          font-weight: bold;
          position: absolute;
          right: 8px;
          bottom: 156px;
          width: 143px;
          text-align: center;
        }
        .game-small {
          width: 85px;
          height: 85px;
          position: absolute;
          top: 151px;
          left: 14px;
          border: 2px solid wheat;
          border-radius: 7px;
          box-shadow: rgba(0, 0, 0, 0.35) 15px 15px 15px;
        }
        
        
      
        .footer-container{
          padding: 70px 25px;
        }
         .upper{
             display: block;
         }
      
         .about-company{
             width: 100%;
             margin: auto;
             margin-bottom: 30px;
         }
      
         .form{
             margin: auto;
             margin-top: 80px;
             width: 300px;
             height: 104px;
         }
      
         .input-section{
             width: 230px;
         }
         .input-field{
          width:126px;
      }
         .input-button{
             height: 22px;
             padding: 2px;
             width: auto;
         }
      
         .contact{
             display: block;
         }
      
         .contact-heading{
             margin:50px 30px auto auto;
         }
      
         .sub{
             margin: 30px auto;
         }
      
         .about-company h3{
             text-align: center;
             margin:10px 0;
         }
      
         .social-media-list li{
             margin: 10px 5px;
         }
      
       }
      
  

       @media(max-width:800px){
        .header label{
        display: initial;
        }
    
        /* .NavLink{
            float: none;
            padding: 20px;
        } */
    
        .nav ul li a{
            color: aliceblue;
            text-decoration: none;
            padding-left: 10px;
        }
        .nav ul li{
          padding: 6px 27px;
          margin: 17px 0;
        }
        .nav{
            border: 1px solid black;
            background-color: #050505;
            border-radius: 10px;
            width: 200px;
            height: auto;
            display: none;
            position:absolute;
            right:0;
            top:97%;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            text-align:justify;
            animation-name: nav;
            animation-duration: .1s;
            animation-direction: alternate;
            animation-fill-mode:both;
            opacity:.9;
           }
    
           .nav ul{
            display:contents;
           }
           
            #menuBar:checked ~.nav{
            display: initial;
    
           }
    
           #menuBar:checked ~label{
            background-color: whitesmoke;
            color: rgb(60, 162, 128);
           } 
           @keyframes nav {
            from {width:0;}
            to {width:200px;}
    
           }
         
       .img-section img{
        height: auto;
       }

       .filter-list{
        display: block;
        width:100%;
        text-align: center;
       }


} 

